# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE and editor files
.idea/
.vscode/

# macOS files
.DS_Store

# Data and Models (if they are too large for Git)
# data/spam.csv
# models/*.pkl
# models/*.png